<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.ChapterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.TagEditorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.TaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.settings.ReaderConfigActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.BackupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.CategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.SourceDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.PartFavoriteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.DirPickerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.settings.EventSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.PageReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoDark" />
        <activity
            android:name=".ui.activity.StreamReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoDark" />
        <activity
            android:name=".ui.activity.BrowserFilter"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="cimoc" />
                <data android:host="2animx.com" />
                <data android:host="bnmanhua.com" />
                <data android:host="cartoonmad.com" />
                <data android:host="ccmh6.com" />
                <data android:host="chuixue.net" />
                <data android:host="copymanga.site" />
                <data android:host="dm5.com" />
                <data android:host="dmzj.com" />
                <data android:host="e-hentai.org" />
                <data android:host="gufengmanhua.com" />
                <data android:host="125084.com" />
                <data android:host="relamanhua.com" />
                <data android:host="manhuagui.com" />
                <data android:host="18comic1.com" />
                <data android:host="mangabz.com" />
                <data android:host="mangakakalot.com" />
                <data android:host="manganelo.com" />
                <data android:host="manhuatai.com" />
                <data android:host="lancaier.com" />
                <data android:host="mh160.xyz" />
                <data android:host="517manhua.com" />
                <data android:host="php06.com" />
                <data android:host="migudm.cn" />
                <data android:host="cocomanhua.com" />
                <data android:host="qiman6.com" />
                <data android:host="qimiaomh.com" />
                <data android:host="sixmh6.com" />
                <data android:host="ac.qq.com" />
                <data android:host="tuhao456.com" />
                <data android:host="u17.com" />
                <data android:host="webtoons.com" />
                <data android:host="dongmanmanhua.cn" />
                <data android:host="ykmh.com" />
                <data android:host="8comic.se" />
            </intent-filter>
        </activity>

        <service android:name=".service.DownloadService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>